a#menu{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}

li{
  display: inline;
}

a:hover#menu{
  text-decoration: none;
  text-transform: uppercase;
  background-color: #111;
}

body.games a.games:link,
body.player a.player:link,
body.conventions a.conventions:link,
body.teams a.teams:link,
body.matches a.matches:link {
	color: white ;
	background-color: green;
}

ul.pasek{
  padding: 10px;
  list-style-type: none;
  background-color: grey;
}
