body{
  background-color: white;
  margin: 0;
}

a{
  text-decoration: none;
}

/* STYLE DLA LIST WYSWIETLAJACYCH DANE*/
div.present{
  display: none;
}

ul.title-list{
text-align:  center;
overflow: auto;
list-style-type: none;
}

li.title-ele{
  font: 20px/1 Helvetica, Verdana, sans-serif;
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  border-right: 1px solid #aaa;
  padding: 0 10px;
  margin-right: 0;
  float: left;
  width: 100px;
}

li.title-ele:last-child {
  border-right: none;
}

ul.under-ele{
  background-color: red;
  list-style-type: none;
  margin-top: 8px;
}

li.under-ele:last-child {
  border-right: none;
}

li.under-ele{
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-top: 1px solid #aaa;
  padding: 0 20px;
  padding-top: 10px;
  margin-top: 5px;
  float: left;
  width: 100px;
}

div.under-ele{
  display: block;
}

ul.name-list{
  list-style-type: none;
  text-align: center;
}


li.name-list{
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  /*border-right: 1px solid #aaa;*/
  border-top: 1px solid #aaa;
  height: 20px;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  width: 100px;
  /*text-align:   center;*/
  /*width: 30px;*/
}

li.name-list:last-child {
  border-right: none;
}

div.name-list{
  display: block;
}

/* PANEL PODRZEDNY*/
/*wygląd napisu przycisku*/
li a.side-menu{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 6px;
  margin: 0;
  display: block;
  font: 17px/1 Helvetica, Verdana, sans-serif;
  margin-left: 10%;
}
/*jak ma wyglądac po najechaniu*/
a:hover.side-menu{
  background-color: #36454f;
  padding: 6px;
}
/*tekst ma być obok panelu*/
/*wyglad panelu za pomoca listy*/
ul.side-menu{
  list-style-type: none;
  background-color: #65737e;
  margin-top: 0;
  margin-bottom:5%;
  overflow: hidden;
}

li.side-menu{
  float: left;
}

/*MENU NA PASKU */
/* STYL tekstu */
/*pasek z listą elementów menu */
ul.pasek{
  /*padding: 11px;*/
  overflow: hidden;
  list-style-type: none;
  background-color: #4f5b66;
  margin-top: 0;
  margin-bottom: 0;
}

li a#menu{
  font: 17px/1 Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 11px;
  margin: 0;
  display: block;
}
/* wyswietlanie w lini poziomej*/
li.pasek{
  float: left;
}
/*wygląd po najechaniu */
body.games a.games:hover#menu{
  color: white ;
  background-color: #d62d20;
}

a:hover#menu{
  text-decoration: none;
  text-transform: uppercase;
  background-color: #343d46;
  margin:0;
}
/*zaznaczanie tego elementu na ktorym się znajdujemy */
body.games a.games:link,
body.player a.player:link,
body.conventions a.conventions:link,
body.teams a.teams:link,
body.matches a.matches:link,
body.participations a.participations:link {
	color: white ;
	background-color: #d62d20;
}

body.games a.games:hover#menu,
body.player a.player:hover#menu,
body.conventions a.conventions:hover#menu,
body.teams a.teams:hover#menu,
body.matches a.matches:hover#menu
body.participations a.participations:hover#menu{
  color: white;
  background-color: #d62d20;
}


/* FORM */

label{
  color: black;
  margin-left: 38%;
  margin-right: 60%;
  margin-bottom: 5px;
  margin-top: 5px;
}
/*FORMATKI I PRZYCISKI*/
.input-style{
  padding: 10px;
  border: solid 1px #fff;
  border-color: black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  margin-left: 38%;
  margin-bottom: 1%;
}

.input-style:focus{
  padding: 10px;
  border: solid 1px #fff;
  border-color: red;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  margin-left: 38%;
  margin-bottom: 1%;
}

.search-input-style{
  padding: 5px;
  border: solid 1px #fff;
  border-color: black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  margin-bottom: 0;
  overflow: hidden;
  margin-bottom: 0;

}

.search-button{
  margin-bottom: 0;
  background-color: inherit;
  color:white;
  text-transform: uppercase;
  border-top: none;
  border-bottom: none;
  border-left: none;
  /*border-style: solid;*/
  padding: 5px;

}

.search-button:hover{
  margin-bottom: 0;
  background-color: #36454f;
  color:#d62d20;
  text-transform: uppercase;
  border-top: none;
  border-bottom: none;
  border-left: none;
  /*border-style: solid;*/
  padding: 5px;
}

.submit-style{

  margin-left: 41%;
  background-color: #d62d20;
  color: white;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
}

.select-tab{
  align: center;
  padding: 6px;
  width: 252px;
  border: solid 1px #fff;
  border-color: black;
  margin-left: 37.90%;
  margin-bottom: 10px;
}

.select-tab:focus{
  border-color: red;
}

.message-box{
  border-radius: 5px;
  margin-left: 37%;
  margin-right: 40%;
  margin-bottom: 5px;
  margin-top: 0;
  color: red;
  padding: 5px;
  border: 1px solid red;
  text-align: center;
}

ul.stat-box{
  list-style-type: none;
  font: 19px/1 Helvetica, Verdana, sans-serif;
   display: inline-block;
   margin-left: 10%;
}

li.stat-box{
  margin: 2px;
}
